POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=myanmar_sales
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_LOCAL_POSTGRES_PASSWORD
SOURCE_CSV=data/raw/sales_data.csv
SCHEDULER_INTERVAL_SECONDS=60
